
*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  body{
    font-family: "Lato", sans-serif !important;
    min-height: 100vh;
    width: 100%;
    scrollbar-color: #666 #201c29;
  }  